/*************Galleri***************/


* {
    margin: 0;
    padding: 0;
}

.grid {
display: grid;
    justify-content: center;
    justify-items: center;

}

.galleri {

    column-count: 1;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;

    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    padding-top: 100px;
}

.billed {
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    margin-bottom: 4vw;


   }


/*
.galleri img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;

}
*/


  @media only screen and (min-width: 1025px) {

      .grid {
    display: grid;

}

.galleri {

      grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
       column-count: 3;
    margin-left: 0;
    margin-right: 0;
    column-gap: 2vw;
        width: 100%;
    column-gap: none;

     margin-bottom: 2vw;

    }


.produkt-img {
            width: 300px;
            height: 400px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            padding-left: 2vw;


                     }

      .billed {
    width: 100%;
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 2vw;
    padding-top: 2vw;

    display: flex;


   }



