#menuknap-mobile {
    color: black;
}



main {
    display:grid;
    justify-items: center;
 width: 50vw;
    height: auto;
     border: 2px solid #333;

}

.mail-kontakt {
    margin-bottom: 1.5vw;
}

main
p {
    padding-top: 5vh;
    margin-bottom: 10px;
    text-shadow: 0px 5px #295c7f;
    text-align: center;
    text-transform: uppercase;


}

.container-kontakt {
    background: linear-gradient(to right, rgba(225, 225, 225, 0.7), rgba(225, 225, 225, 0.7)), url("img/Produktbilleder/Sissel%20Geyti%20tegner%20(3).jpg");
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
    display:grid;
    justify-items: center;
}

/************ MEDIA QUERIES DESKTOP ******************/
@media only screen and (min-width: 1025px) {


    main {
    display:grid;
    justify-items: center;
 width: 12vw;
    height: 50vh;
     border: 2px solid #333;
        margin-top: 3vw;
    }
    main
p {
    padding-top: 3vh;
    text-shadow: 0px 5px #295c7f;
    text-align: center;
    text-transform: uppercase;


}
    }
