/*************OM-SIDEN*******************/

* {
    margin: 0;
    padding: 0;
}

.om,
.omtxt{
    text-decoration: none;
    padding-top: 7vh;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 3vh;
    color: black;
    font-size: 20px;
    justify-content: center;
    border: 2px solid #333;
}

.ombillede {
    margin-top: 10vw;
}

#menuknap-mobile {
    color: black;
}

@media only screen and (min-width: 700px) {

    .om,
.omtxt{
    text-decoration: none;
    padding-top: 5vh;
    padding-right: 12vw;
    padding-left: 12vw;
    padding-bottom: 3vh;
    color: black;
    font-size: 23px;
    justify-content: center;
    border: 2px solid #333;
}

.ombillede {
    margin-top: 2vw;
}
}



@media only screen and (min-width: 1000px) {

.om,
.omtxt{
    text-decoration: none;
    padding-top: 5vh;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 3vh;
    color: black;
    font-size: 30px;
    justify-content: center;
    border: 2px solid #333;
}

.ombillede {
    margin-top: 2vw;
}
}


@media only screen and (min-width: 1900px) {




    .om {
            display:grid;
    justify-items: center;
    }

.om,
.omtxt{
    text-decoration: none;
    padding-top: 5vh;
    padding-bottom: 2vh;
    color: black;
    font-size: 30px;
    justify-content: center;
    border: 2px solid #333;
}

    .ombillede {
    margin-top: 2vw;
        max-width: 25vw;

}






