/*************OM-SIDEN*******************/


.om {
    text-decoration: none;
    padding: 150px;
    color: black;
    font-size: 30px;
    max-width: 1200px;
    min-width: 600px;
    justify-content: center;
}

#menuknap-mobile {
    color: black;
}


/************ MEDIA QUERIES DESKTOP ******************/
@media only screen and (min-width: 992px) {







